.index-header {
    color: #204060;
    /* text-align : center; */
    margin-left: 50px;
    font-family: arial, verdana, sans-serif;
    font-size: 20px;
    line-height: 1.45em;
}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: #0055FF;
}

svg {
  font: 14px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke-width: 1.5px;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

ul li { list-style:none; }
ul li:before {
  content:"\2022";
  color: darkorange;
  font-size:1.5em;
  padding-right:.5em;
  position:relative;
  top:.15em;
}

#header h2 {
  text-align : center;
  margin-top: 0;
  color:darkblue;
}

h2 {
  margin-top: 20px;
  color:darkblue;
}
.float {
  float: left;
}
.centered {
  text-align: left;
}
.hide {
  display: none;
}

a {
  color: #555;
}
a:hover {
  color: #000;
}

#parcoords{
    margin-top: 250px;
    height: 350px;
    clear: both;
}

/* Slick Grid */
.slick-row:hover {
  font-weight: bold;
}
.ui-widget {
  font-size: 1em;
}

/* Page itself */
.clear {
  clear: both;
}

#grid{
    margin-top: 40px;
    height: 320px;
    clear: both;
}

#data_sources {
  #background-color: grey;
  width: 400px;
  float: left;
}
#links {
  /*background-color: red;*/
  width: 800px;
  margin-left: 500px;
}
#footer {
  clear: both;
  height: 30px;
}
